<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- Until an official release is made for these, pull them in from the CI build server -->
    <packageSources>
        <add key="AppVeyorGitBuild" value="https://ci.appveyor.com/nuget/CSemVer.GitBuild" />
        <add key="AppVeyorValidators" value="https://ci.appveyor.com/nuget/Ubiquty.ArgValidators" />
    </packageSources>
</configuration>
